[Unit]
Description=Motor Control Extension for USV
After=network.target

[Service]
Type=simple
User=tms
WorkingDirectory=/home/tms/Tether-Management-System/app
ExecStart=/home/tms/Tether-Management-System/venv/bin/python -u main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target